@font-face {
    font-family: "SF Pro Text";
    src: url("../../../../../../San Francisco Pro/SF-Pro-Text-Regular.otf");
    font-weight: normal;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("../../../../../../San Francisco Pro/SF-Pro-Text-Thin.otf");
    font-weight: 300;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("../../../../../../San Francisco Pro/SF-Pro-Text-Black.otf");
    font-weight: bolder;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("../../../../../../San Francisco Pro/SF-Pro-Text-Bold.otf");
    font-weight: bold;
  }
  @font-face {
    font-family: "SF Pro Text";
    src: url("../../../../../../San Francisco Pro/SF-Pro-Text-Ultralight.otf");
    font-weight: 100;
  }